.card-title {
  font-size: 1.25rem;
}

.card {
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}

/* Opcional: si querés un azul más personalizado */
.btn-primary {
  background-color: #0b5ed7;
  border-color: #0b5ed7;
}

.btn-primary:hover {
  background-color: #084298;
  border-color: #084298;
}
