.btn.btn-dark-elegant {
  background-color: #3e2630;
  color: #ffffff;
  border: none;
  transition: all 0.3s ease;
}

.btn.btn-dark-elegant:hover {
  background-color: #5c3947;
  color: #ffffff;
}

.btn.btn-outline-admin {
  background-color: transparent;
  color: #3e2630;
  border: 2px solid #3e2630;
  transition: all 0.3s ease;
}
